demboyz11.duckdns.org {
	@protected {
		path /dev* /voice-index.html
	}
	basic_auth @protected {
		argyrios $2a$14$Y.jG3jJFAnWNvfC/.c0nJeYRQRTbjxj6IB.hXwSOwbZZtOLqr6MwK
	}

	reverse_proxy localhost:3001
}
