demboyz11.duckdns.org {
	@protected {
		path /dev* /voice-index.html
	}
	basic_auth @protected {
		argyrios $2a$14$Xe42InBbMQNExB1LisnlBODYBJZL1LSCzf5XA3cXcurCDcGbD6tBC
	}

	reverse_proxy localhost:3001
}
